<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
<div th:fragment="navbar">
  <nav>
    <div class="logo">
      <i class="bi bi-list menu-icon"></i>
      <span class="nome-logo">SimpleSupport</span>
    </div>

    <div class="sidebar">
      <div class="logo">
        <i class="bi bi-list menu-icon"></i>
        <span class="nome-logo">SimpleSupport</span>
      </div>

      <div class="sidebar-content">
        <ul class="lists">
          <li class="list">
            <a href="dashboard/home" class="nav-link">
              <i class="bi bi-house icon"></i>
              <span class="link">Dashboard</span>
            </a>
          </li>
          <li class="list">
            <a href="#" class="nav-link">
              <i class="bi bi-person icon"></i>
              <span class="link">Perfil</span>
            </a>
          </li>
        </ul>

        <div class="bottom-content">
          <li class="list">
            <a href="#" class="nav-link">
              <i class="bx bx-lock icon"></i>
              <span class="link">Configurações administrativas</span>
            </a>
          </li>
          <li class="list">
            <a href="#" class="nav-link">
              <i class="bi bi-gear icon"></i>
              <span class="link">Configurações</span>
            </a>
          </li>
        </div>
      </div>
    </div>
  </nav>

  <section class="overlay"></section>
</div>
</body>
</html>
