<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/links :: headContent('')}"></head>
<head>
  <meta charset="UTF-8">
  <title>Sistemas | SimpleSupport</title>
</head>
<body class="pt-5">
<div th:replace="~{fragments/navbar :: navbar}" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"></div>

<div class="container-fluid">
  <h1 class="text-xl-start pt-5 ms-3">Sistemas</h1>
</div>
<hr>

<div class="container-fluid">
  <div class="row ms-3 align-items-end">
    <div class="col-sm-3">
      <label for="pesquisaNomeSistema">Nome</label>
      <input class="form-control" id="pesquisaNomeSistema" name="pesquisaNomeSistema" type="text" placeholder="Insira o nome do sistema">
    </div>
    <div class="col-sm-3">
      <label for="pesquisaVersaoSistema">Versão</label>
      <input class="form-control" id="pesquisaVersaoSistema" name="pesquisaVersaoSistema" type="text" placeholder="Insira a versão do sistema">
    </div>
    <div class="col-sm-3">
      <label for="selectSistemaAtivo">Ativo</label>
      <select class="form-select" id="selectSistemaAtivo" name="selectSistemaAtivo">
        <option selected value="true">Sim</option>
        <option value="false">Não</option>
      </select>
    </div>
    <div class="col-sm-3 d-flex justify-content-end">
      <button type="button" class="btn btn-outline-primary" onclick="modalNovoSistema()">Novo sistema</button>
    </div>
  </div>
</div>


<div class="container-fluid pt-4">
  <div class="box-body">
    <div class="table-responsive">
      <table id="tabelaSistemas" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="col-sm-1 text-center">ID</th>
          <th class="col-sm-1 text-center">Nome</th>
          <th class="col-sm-2 text-center">Descrição</th>
          <th class="col-sm-1 text-center">Categoria</th>
          <th class="col-sm-1 text-center">Versão</th>
          <th class="col-sm-2 text-center">Data de criação</th>
          <th class="col-sm-2 text-center">Data da última edição</th>
          <th class="col-sm-1 text-center">Ativo</th>
          <th class="col-sm-1 text-center">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sistema : ${sistemas}">
          <td class="col-sm-1 text-center" th:text="${sistema.id}"></td>
          <td class="col-sm-1 text-center" th:text="${sistema.nome}"></td>
          <td class="col-sm-2 text-center" th:text="${sistema.descricao}"></td>
          <td class="col-sm-1 text-center" th:text="${sistema.categoria != '' ? sistema.categoria : '---'}"></td>
          <td class="col-sm-1 text-center" th:text="${sistema.versao}"></td>
          <td class="col-sm-2 text-center" th:text="${#temporals.format(sistema.createdAt, 'dd/MM/yyyy HH:mm:ss')}"></td>
          <td class="col-sm-2 text-center" th:text="${sistema.updatedAt != null ? #temporals.format(sistema.updatedAt, 'dd/MM/yyyy HH:mm:ss') : '---'}"></td>
          <td class="col-sm-1 text-center">
            <span th:if="${sistema.ativo}" class="badge text-bg-success">✔️</span>
            <span th:unless="${sistema.ativo}" class="badge text-bg-danger">❌</span>
          </td>
          <td class="col-sm-1 text-center">
            <button th:data-id="${sistema.id}" class="btn btn-warning btn-sm" onclick="modalEditarSistema(this)">Editar</button>
            <button th:data-id="${sistema.id}" class="btn btn-danger btn-sm" onclick="removerSistema(this)">Remover</button>
          </td>
        </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
<div th:replace="/modais/modal_novo_sistema"></div>
<div th:replace="/modais/modal_editar_sistema"></div>
<footer th:replace="~{fragments/scripts :: scriptsContent('/assets/js/sistemas.js')}"></footer>
</body>
</html>