<div class="modal fade" id="modalAlterarInformacoes" tabindex="-1" role="dialog" aria-labelledby="modalInfoTituloCentro" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center; width: 100%;">
        <h5 class="modal-title" id="modalInfoTitulo" style="font-size: 1.4rem; font-weight: bold;">Editar informações do perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="hidden" id="idUsuario" name="idUsuario" th:value="${perfil.id}">

          <label for="edicaoNomeUsuario">Nome*</label>
          <input class="form-control form-control-lg mb-3" type="text" id="edicaoNomeUsuario" placeholder="Insira seu nome">

          <label for="edicaoSobrenomeUsuario">Sobrenome*</label>
          <input class="form-control form-control-lg mb-3" type="text" id="edicaoSobrenomeUsuario" placeholder="Insira seu sobrenome">


          <label for="edicaoEmailUsuario">E-mail*</label>
          <input class="form-control form-control-lg mb-3" type="email" id="edicaoEmailUsuario" placeholder="Insira seu e-mail">

          <label for="edicaoTelefoneUsuario">Telefone*</label>
          <input class="form-control form-control-lg mb-3"
                 type="text"
                 id="edicaoTelefoneUsuario"
                 placeholder="(XX) XXXXX-XXXX"
                 maxlength="15">

          <div class="mt-2">
            <span style="font-size: 0.9rem">Caso mantenha algum campo vazio, o mesmo seguirá sem nenhuma alteração.</span>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn" style="background-color: #87CEFA; color: white" onclick="editarPerfil()">Salvar</button>
      </div>
    </div>
  </div>
</div>
