<div class="modal fade" id="modalCadastro" tabindex="-1" role="dialog" aria-labelledby="modalCadastroTituloCentro" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center; width: 100%;">
                <h5 class="modal-title" id="modalCadastroTitulo" style="font-size: 2rem; font-weight: bold;">Cadastre-se</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="nomeCadastro">Nome*</label>
                    <input class="form-control form-control-lg mb-3" type="text" id="nomeCadastro" placeholder="Insira seu nome">

                    <label for="sobrenomeCadastro">Sobrenome*</label>
                    <input class="form-control form-control-lg mb-3" type="text" id="sobrenomeCadastro" placeholder="Insira seu sobrenome">

                    <label for="emailCadastro">E-mail*</label>
                    <input class="form-control form-control-lg mb-3" type="email" id="emailCadastro" placeholder="Insira seu e-mail">

                    <label for="telefoneCadastro">Telefone*</label>
                    <input class="form-control form-control-lg mb-3"
                           type="text"
                           id="telefoneCadastro"
                           placeholder="(XX) XXXXX-XXXX"
                           maxlength="15">

                    <label for="senhaCadastro">Senha*</label>
                    <input class="form-control form-control-lg mb-3" type="password" id="senhaCadastro" placeholder="Insira sua senha">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn" style="background-color: #87CEFA; color: white" onclick="cadastrar()">Cadastrar</button>
            </div>
        </div>
    </div>
</div>
