<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/links :: headContent('/assets/css/login.css')}"></head>
<meta charset="UTF-8">
<title>SimpleSupport</title>
<body>
<header class="menu-superior">
    <nav>
        <div class="menu-container">
            <a class="logo">SimpleSupport</a>
            <button class="btn btn-outline-secondary btn-login" onclick="modalLogin()">Login</button>
        </div>
    </nav>
</header>

<div id="texto-principal" class="text-center">
    <h1>Facilite a vida de seus clientes <br> <span class="highlight">da melhor forma!</span></h1>
</div>

<div class="container text-center mt-4">
    <p>O SimpleSupport oferece uma plataforma de atendimento ao cliente que torna a abertura de chamados simples, prática e intuitiva, proporcionando uma experiência sem complicações para a sua empresa.</p>
</div>

<div class="container text-center mt-5 botoes">
    <button class="btn btn-secondary btn-login btn-lg mx-2 py-3 px-5 rounded-pill shadow-lg" onclick="modalLogin()">Sou cliente/usuário</button>
    <br>
    <button class="btn btn-cadastro btn-lg mx-2 py-3 px-5 rounded-pill shadow-lg" onclick="modalCadastro()">Criar uma conta</button>
</div>

<div th:replace="/modais/modal_login"></div>
<div th:replace="/modais/modal_cadastro"></div>
<footer th:replace="~{fragments/scripts :: scriptsContent('/assets/js/login.js')}"></footer>
</body>
</html>
