<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/links :: headContent('/assets/css/home.css')}"></head>
<title>Home | SimpleSupport</title>
<body>

    <h1>Bem-vindo(a), <br><span class="highlight"><span th:text="${usuario}">!</span></span></h1>
    <div class="options">
        <ul>
            <li><a href="/dashboard/chamados"><i class="bi bi-headset" style="padding-right: 7px"></i>Acessar meus chamados</a></li>
            <li th:if="${responsavelPorEmpresa}">
                <a href="/dashboard/empresa">
                    <i class="bi bi-building-fill-gear" style="padding-right: 7px"></i>Gerenciar empresa
                </a>
            </li>
            <li><a href="/dashboard/perfil"><i class="bi bi-person-fill" style="padding-right: 7px"></i>Perfil</a></li>
            <li><a href="/dashboard/configuracoes"><i class="bi bi-gear-fill" style="padding-right: 7px"></i>Configurações</a></li>
            <li><a href="/dashboard/admin"><i class="bi bi-lock-fill" style="padding-right: 7px"></i>Configurações administrativas</a></li>
            <li><a href="/logout"><i class="bi bi-box-arrow-left" style="padding-right: 7px"></i>Sair</a></li>
        </ul>
    </div>

<footer th:replace="~{fragments/scripts :: scriptsContent('')}"></footer>
</body>
</html>
