<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/links :: headContent('')}"></head>
<title>Perfil | SimpleSupport</title>

<body class="pt-5">
<div th:replace="~{fragments/navbar :: navbar}" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"></div>

<div class="container mt-5 pt-5">

  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          <h4>Opções de perfil</h4>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <strong>Nome:</strong> <span th:text="${perfil.name}">Nome Exemplo</span>
          </div>

          <div class="mb-3">
            <strong>Email:</strong> <span th:text="${perfil.email}">email@perfil.com</span>
          </div>

          <div class="mb-3">
            <strong>Telefone:</strong> <span th:text="${perfil.number}">(00) 00000-0000</span>
          </div>

          <div class="mb-3">
            <strong>Empresa:</strong> <span th:text="${empresa}">Empresa X</span>
          </div>

          <div class="list-group">
            <button onclick="modalAlterarInformacoes()" class="list-group-item list-group-item-action">
              <i class="bi bi-pencil-square" style="padding-right: 7px"></i>Editar Informações
            </button>
            <button onclick="modalAlterarSenha()" class="list-group-item list-group-item-action">
              <i class="bi bi-shield-fill" style="padding-right: 7px"></i>Alterar senha
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="/modais/modal_alterar_informacoes"></div>
<div th:replace="/modais/modal_alterar_senha"></div>
<footer th:replace="~{fragments/scripts :: scriptsContent('/assets/js/perfil.js')}"></footer>
</body>
</html>
